@import './variaveis';
*{
    box-sizing: border-box;
}
body,html{
    font-family: $font-family;
    font-size: $font-size;
    background-color: $very-dark-blue;
    color: $pale-Blue;
}
.container{
    max-width: 90%;
    margin: 0 auto;
    
}
.oculto{
    display: none;
}
@media screen  and (min-width:1023px){
    
    body{
        display: grid;
        align-items: center;
        justify-items: center;
        justify-content: center;
        grid-template-columns: 18.5vw 55.5vw;
        grid-template-rows: auto auto;
        grid-template-areas:
         "hd cd"
         "ft ft";
        max-width: 80vw;
        margin: 15vh auto 0 auto;
        gap: 2vw;
        
    }
    .container{
        max-width: 100vw;
    }
    
}