@import '../base/variaveis';
.header{
    @include background-e-radius;
    margin-top: $font-size*4;
    .user {
        border-radius: 16px;
        background-color: $primary-blue;
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
       
        .img__container {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            border: 2px solid $font-color;
            background-image: url(../images/image-jeremy.png);
            background-position: center;
            background-size: contain;
            margin-right: 1rem;
        }
    
        div {
            color: $font-color;
            display: inline-block;
            .user__span {
                display: block;
                font-size: $font-size/1.25;
                margin-bottom:8px;
                color: $pale-Blue;

            }
    
            .user__name {
                display: block;
                font-size: $font-size*1.25;

            }
        }
    
    }
    .nav{
        .nav__list{
            text-align: center;
            .nav__item{
                display: inline-block;
                padding: $font-size;
                .nav__link{
                    text-decoration: none;
                    color: $pale-Blue;
                    cursor: pointer;
                    transition: .5s;
                 
                    &:hover{
                        color: $font-color;
                        transition: .5s;
                        
                    }
                }
                .active{
                    color: $font-color;
                }
            }
        }
    }
}
@media screen  and (min-width:1023px){
    .header{
        width:calc(100% - 1vw);
        grid-area: hd;
        margin-top: 0;
        height: 100%;
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 100%;
        justify-items: stretch;
        .user{
            align-items: flex-start;
            flex-direction: column;
            padding: 1.5rem 1.5rem 4rem 1.5rem;
            justify-content: space-between;
            div{
                .user__name{
                font-size:$font-size*1.75; 
                   font-weight: 300;
                   line-height: 1.25;
                }
            }
        }
        .nav{
            .nav__list{
                text-align: left;
                .nav__item{
                    display: block;
                    margin: 1.5rem;
                    padding: 0;
                }
            }
        }
    }
   
}