
.attribution {
    font-size: 11px;
    text-align: center;
    a{
      color: hsl(228, 45%, 44%);
    }
  }
  @media screen and (min-width: 1023px) {
    
    footer{
      grid-area: ft;
    }
      
  }