* {
  box-sizing: border-box;
}

body, html {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  background-color: hsl(226deg, 43%, 10%);
  color: hsl(236deg, 100%, 87%);
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.oculto {
  display: none;
}

@media screen and (min-width: 1023px) {
  body {
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 18.5vw 55.5vw;
    grid-template-rows: auto auto;
    grid-template-areas: "hd cd" "ft ft";
    max-width: 80vw;
    margin: 15vh auto 0 auto;
    gap: 2vw;
  }
  .container {
    max-width: 100vw;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}
.cards div {
  width: 100%;
}
.cards div .Work {
  background-color: hsl(15deg, 100%, 70%);
  background-image: url(../images/icon-work.svg);
}
.cards div .Play {
  background-color: hsl(195deg, 74%, 62%);
  background-image: url(../images/icon-play.svg);
}
.cards div .Study {
  background-color: hsl(348deg, 100%, 68%);
  background-image: url(../images/icon-study.svg);
}
.cards div .Exercise {
  background-color: hsl(145deg, 58%, 55%);
  background-image: url(../images/icon-exercise.svg);
}
.cards div .Social {
  background-color: hsl(264deg, 64%, 52%);
  background-image: url(../images/icon-social.svg);
}
.cards div .Self.Care {
  background-color: hsl(43deg, 84%, 65%);
  background-image: url(../images/icon-self-care.svg);
}
.cards div .card {
  margin-top: 1rem;
  width: 100%;
  padding-top: 2rem;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.cards div .card .card__info {
  width: 100%;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 1s;
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 16px;
}
.cards div .card .card__info:hover {
  cursor: pointer;
  background-color: hsl(235deg, 45%, 61%);
  transition-timing-function: linear;
  transition: 1.5s;
}
.cards div .card .card__info .current-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards div .card .card__info .current-info-box .current__type {
  font-size: 21.6px;
  color: #fff;
}
.cards div .card .card__info .current-info-box .pass__pontos {
  font-size: 36px;
}
.cards div .card .card__info .current-info-box .pass__pontos:hover {
  color: #fff;
  cursor: pointer;
}
.cards div .card .card__info .pass-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards div .card .card__info .pass-info-box .current__hour {
  display: inline-block;
  font-size: 31.5px;
  color: #fff;
  font-weight: 300;
}
.cards div .card .card__info .pass-info-box .pass__week {
  font-size: 14.4px;
}

@media screen and (min-width: 1023px) {
  main {
    height: 100%;
    width: 100%;
  }
  .cards {
    height: 100%;
    grid-area: cd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2vw;
    margin: 0;
    padding: 0;
  }
  .cards div {
    height: 100%;
  }
  .cards div .card {
    margin-top: 0;
  }
  .cards div .card .card__info .pass-info-box {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header {
  background-color: hsl(235deg, 46%, 20%);
  border-radius: 16px;
  margin-top: 72px;
}
.header .user {
  border-radius: 16px;
  background-color: hsl(246deg, 80%, 60%);
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .user .img__container {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-image: url(../images/image-jeremy.png);
  background-position: center;
  background-size: contain;
  margin-right: 1rem;
}
.header .user div {
  color: #fff;
  display: inline-block;
}
.header .user div .user__span {
  display: block;
  font-size: 14.4px;
  margin-bottom: 8px;
  color: hsl(236deg, 100%, 87%);
}
.header .user div .user__name {
  display: block;
  font-size: 22.5px;
}
.header .nav .nav__list {
  text-align: center;
}
.header .nav .nav__list .nav__item {
  display: inline-block;
  padding: 18px;
}
.header .nav .nav__list .nav__item .nav__link {
  text-decoration: none;
  color: hsl(236deg, 100%, 87%);
  cursor: pointer;
  transition: 0.5s;
}
.header .nav .nav__list .nav__item .nav__link:hover {
  color: #fff;
  transition: 0.5s;
}
.header .nav .nav__list .nav__item .active {
  color: #fff;
}

@media screen and (min-width: 1023px) {
  .header {
    width: calc(100% - 1vw);
    grid-area: hd;
    margin-top: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 100%;
    justify-items: stretch;
  }
  .header .user {
    align-items: flex-start;
    flex-direction: column;
    padding: 1.5rem 1.5rem 4rem 1.5rem;
    justify-content: space-between;
  }
  .header .user div .user__name {
    font-size: 31.5px;
    font-weight: 300;
    line-height: 1.25;
  }
  .header .nav .nav__list {
    text-align: left;
  }
  .header .nav .nav__list .nav__item {
    display: block;
    margin: 1.5rem;
    padding: 0;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media screen and (min-width: 1023px) {
  footer {
    grid-area: ft;
  }
}/*# sourceMappingURL=stylus.css.map */