@import "../base/variaveis";

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;

    div {
        width: 100%;

        .Work {
            background-color: $work;
            background-image: url(../images/icon-work.svg);
        }

        .Play {
            background-color: $play;
            background-image: url(../images/icon-play.svg);
        }

        .Study {
            background-color: $study;
            background-image: url(../images/icon-study.svg);
        }

        .Exercise {
            background-color: $exercise;
            background-image: url(../images/icon-exercise.svg);
        }

        .Social {
            background-color: $social;
            background-image: url(../images/icon-social.svg);
        }

        .Self.Care {
            background-color: $self-care;
            background-image: url(../images/icon-self-care.svg);
        }

        .card {
            margin-top: 1rem;
            width: 100%;
            padding-top: 2rem;
            border-radius: 16px;
            background-repeat: no-repeat;
            background-position: 100% 0;

            .card__info {

                width: 100%;
                padding: 1.5rem 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                transition: 1s;
                @include background-e-radius;

                &:hover {
                    cursor: pointer;
                    background-color: $desaturated-blue;
                    transition-timing-function: linear;
                    transition: 1.5s;
                }

                .current-info-box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .current__type {
                        font-size: $font-size*1.2 ;
                        color: $font-color;

                    }

                    .pass__pontos {

                        font-size: $font-size*2;

                        &:hover {
                            color: $font-color;
                            cursor: pointer;
                        }
                    }
                }

                .pass-info-box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .current__hour {
                        display: inline-block;
                        font-size: $font-size*1.75;
                        color: $font-color;
                        font-weight: 300;

                    }

                    .pass__week {
                        font-size: $font-size*0.8;
                    }
                }
            }

        }
    }


}

@media screen and (min-width:1023px) {
    main{
        height: 100%;
        width: 100%;
    }
    .cards {
        height: 100%;
        grid-area: cd;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 2vw;
        margin: 0;
        padding: 0;

        div {
            height: 100%;
            .card {
                margin-top: 0;
                .card__info{
                  
                    .pass-info-box{
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }

        }

    }


}